body {
  margin: 0;
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.JKCsoPBXjMjPamPSwGC_nwHaFj&pid=Api&P=0&h=180");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

button {
  text-align: center;
  width: 90px;
  height: 70px;
  cursor: pointer;
  font-size: 16px;
  border: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  border: 3px solid black;
  margin-right: 10px;
  font-weight: bold;
}

button span {
  display: block;
  font-size: 13px;
  text-align: center;
  margin-top: 3px;
  font-weight: bold;
  color: #ffc400cc;
}
